body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(22, 24, 30);
  color: white;
  text-align: center;
  background-image: url(./images/pexels-adrien-olichon-2387793.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-crd {
  height: 200px;
  width: 300px;
}

.title {
  font-size: 800%;
}